.Pullrequest {
    margin: 25px 50px;

    label, select, input {
        font-size: 16px;
        margin: 3px;
    }

    select{
        width: 200px;
        padding: 2px 10px;
        border-radius: 5px;
    }
    input{
        width: 250px;
        padding: 2px 10px;
        border-radius: 5px;
    }

    hr{
        margin: 10px 0;
        border: 1px solid $color3;
    }

    .Pullrequest-alert{
        color: $color3;
        font-family: $title-font;
        font-size:12px;
    }
}